
.pokedex_frame{
background-image:url('../img/rotom.png');
background-size: 100% 100%;
  background-repeat:no-repeat;
  width: 400px;
  height: 800px; ; 
  border:2px solid #000000;
  border-radius: 50px;
text-align: center;
}

.image-frame {
  margin-top: 300px;
    height: 200px;
    justify-content: center;
    background-image: url('../img/bg_poke.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    display: flex;
    justify-content: center;
}

.button {
    font-size: 19px;
    color: rgb(7, 7, 7);
    border: none;
    border-radius: 25px;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
}

.types, .selector{
    display: flex;
    justify-content: center;
  }
  
  .type1, .type2{
    border: 2px solid black;
    border-radius: 34%;
    height: 20px;
    width: 60px;
    display: inline-block;
  }

